<div class="modal-header">
  <h3>Move card conformation</h3>
</div>
<div class="modal-body">
  <p>Moving card will exceed WIP limit ?</p>
  <div class="col-sm-9">
        <textarea name="card-delete-reason" class="form-control"
                  placeholder="Enter reason for WIP violation"
                  [(ngModel)]="WIPViolationReason"
        ></textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="yes()">Yes</button>
  <button class="btn btn-danger" (click)="no()">No</button>
</div>
