<div>

  <div *ngIf="boardRepresentation && boardRepresentation.boardPartTable">
    <table class="table table-bordered">
      <thead>
        <tr *ngFor="let tr of boardRepresentation.boardPartTable">
          <td *ngFor="let td of tr" [attr.colspan]="td.colspan" [attr.rowspan]="td.rowspan">
            {{td.name}}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tr of boardRepresentation.projectTable">
          <td *ngFor="let td of tr.cardTables">

            <div class="list-group">
                <div *ngFor="let c of td.cards" class="list-group-item list-group-item-action">{{c.name}}</div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
