td {
  text-align: center;
  vertical-align: middle;
}

.scroll-group > .row {
  overflow-x: scroll;
  white-space: nowrap;
  display: block;
  flex-wrap: nowrap;
}

.lane-name {
  background-color: #f8f9fa;
}

.over-max-wip-warning {
  color: red;
}

table.table-bordered{

  border-spacing: 5px;
  background-color: #e6ecf9;
}
table.table-bordered > thead > tr{
  border-spacing: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
table.table-bordered > tbody > tr > td{
  border-spacing: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
table.table{
  border-collapse: separate;
}

.blink-background {
  -webkit-animation: blink 1s infinite;  /* Safari 4+ */
  -moz-animation: blink 1s infinite;  /* Fx 5+ */
  -o-animation: blink 1s infinite;  /* Opera 12+ */
  animation: blink 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink {
  0%, 49% {
    background-color: #E80000;
  }
  50%, 100% {
    background-color: #FFFFFF;
  }
}
