td {
  text-align: center;
  vertical-align: middle;
}

.scroll-group > .row {
  overflow-x: scroll;
  white-space: nowrap;
  display: block;
  flex-wrap: nowrap;
}

.lane-name {
  background-color: #f8f9fa;
}

.over-max-wip-warning {
  color: red;
}

table.table-bordered{

  border-spacing: 5px;
  background-color: #e6ecf9;
}
table.table-bordered > thead > tr{

  border-spacing: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
table.table-bordered > tbody > tr > td{

  border-spacing: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
table.table{
  border-collapse: separate;
}


