<div>
  <div class="row mb-3">
    <div *ngIf="board" class="col-sm-6">
      <h3>{{board.name}}</h3>
    </div>
    <div *ngIf="isAuthUserKanbanMaster || isOwner" class="col-sm-6 ">
      <button class="btn btn-primary pull-right" routerLink="/board/{{id}}/edit">Edit</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="scroll-group" *ngIf="boardRepresentation && boardRepresentation.boardPartTable">
        <div class="row">

          <table class="table table-bordered">
            <thead>
              <tr *ngFor="let tr of boardRepresentation.boardPartTable; let i = index">

                <td class="lane-name" *ngIf="i == 0" [attr.rowspan]="boardRepresentation.maxDepth">Projects</td>

                <td *ngFor="let td of tr" [attr.colspan]="td.colspan" [attr.rowspan]="td.rowspan"
                    [ngClass]="{
                    'over-max-wip-warning': td.boardPart.maxWip != 0 && td.boardPart.maxWip < td.currentWip,
                    'highest-priority': td.boardPart.leafNumber == board.highestPriority,
                    'dev-start': td.boardPart.leafNumber == board.startDev,
                    'dev-end': td.boardPart.leafNumber == board.endDev,
                    'acceptance-ready': td.boardPart.leafNumber == board.acceptanceTesting}">

                  {{td.boardPart.name}} [{{td.currentWip}}/{{td.boardPart.maxWip}}]
                </td>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tr of boardRepresentation.projectTable">
                <td class="lane-name hover-pointer">
                  <a routerLink="/project/{{tr.project.id}}" >
                    [{{tr.project.name}}]
                  </a>
                </td>
                <td *ngFor="let td of tr.cardTables" class="align-top">

                      <div class="list-group mt-1 rounded-top" *ngFor="let c of td.cards"
                           [style.background]="c.color">

                        <div class="list-group-item mt-3">
                          <button type="button" class="btn btn-sm btn-primary"
                                  (click)="moveCardLeft(c, td.currentBoardPart, td.leftBoardPart)"
                                  *ngIf="td.leftBoardPart">

                            <i class="fa fa-caret-left"></i>
                          </button>

                          <a routerLink="/card/{{c.id}}">{{c.name}}</a>
                          <br>
                          {{c.cardType.toString().replace("_", " ")}}

                          <button type="button" class="btn btn-sm btn-primary"
                                  (click)="moveCardRight(c, td.currentBoardPart, td.rightBoardPart)"
                                  *ngIf="td.rightBoardPart">

                            <i class="fa fa-caret-right"></i>
                          </button>
                        </div>

                        <div class="list-group" *ngIf="c.subTasks">
                          <div *ngFor="let t of c.subTasks" class="list-group-item list-group-item-action">
                            {{t.name}} - {{t.workingHours}}
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-danger pull-right mt-0"
                                (click)="moveCardBack(c, td.currentBoardPart, td.moveBack)" *ngIf="td.moveBack">

                          <i class="fa fa-arrow-circle-left fa-1x"> Reject
                            <a placement="bottom" ngbPopover="with this button you can reject this card and send it back infront of Development phase" triggers="mouseenter:mouseleave"
                               (click)="$event.stopPropagation()">
                              <i class="fa fa-question-circle"></i>
                            </a>

                          </i>
                        </button>


                      </div>


                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>

</div>
