<div *ngIf="card" class="card">
  <div class="card-body">

    <h4 class="card-title">Card details</h4>

    <div class="row">
      <p class="col-sm-2 col-label">Name</p>
      <p class="col-sm-10 col-label"><strong>{{card.name}}</strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Workload</p>
      <p class="col-sm-10 col-label"><strong>{{ card.workload }}</strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Description</p>
      <p class="col-sm-10 col-label"><strong>{{ card.description }}</strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Subtasks</p>
      <div class="col-sm-10 col-label">
        <div class="list-group" *ngIf="card.subTasks">
          <div *ngFor="let t of card.subTasks" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><strong>{{t.name}}</strong></h5>
              <small>{{t.workingHours}} working hours</small>
            </div>
            <p class="mb-1">{{t.description}}</p>
          </div>
        </div>
        <div *ngIf="!card.subTasks"><strong>No subtasks!</strong></div>
      </div>
    </div>

    <button *ngIf="editEnabled" type="button" class="btn btn-primary" (click)="openCardEditModal()">Edit
      <a target="_blank" href="https://jgasp.github.io/slate/#posodabljanje-vsebine-kartice"
         placement="right" ngbPopover="Click for help" triggers="mouseenter:mouseleave"
         (click)="$event.stopPropagation()">
        <i class="fa fa-question-circle"></i>
      </a>
    </button>

    <div class="row mt-4">
      <p class="col-sm-2 col-label">Card Moves</p>
      <div class="col-sm-10 col-label">
        <div class="list-group" *ngIf="card.cardMoves">
          <div *ngFor="let cm of moves" class="list-group-item list-group-item-action flex-column align-items-start">
            <div *ngIf="cm.from.id != cm.to.id">
              <p class="mb-1">User <strong>{{cm.movedBy.email}}</strong> moved card at <strong>{{cm.createdOn| date:'d. M. yyyy HH:mm:ss'}}</strong>.</p>
              <p class="mb-1">From: <strong>{{cm.from.name}}</strong></p>
              <p class="mb-1">To: <strong>{{cm.to.name}}</strong></p>
              <p class="mb-1 text-danger" *ngIf="cm.cardMoveType == 'INVALID'"><strong>WIP Exceeded!</strong></p>
            </div>
            <div *ngIf="cm.from.id == cm.to.id">
              <p class="mb-1 text-danger">User <strong>{{cm.movedBy.email}}</strong> violated WIP by reducing maximal WIP of board part <strong>{{cm.from.name}}</strong> at <strong>{{cm.createdOn| date:'d. M. yyyy HH:mm:ss'}}</strong>.</p>
            </div>
          </div>
        </div>
        <div *ngIf="!card.cardMoves"><strong>No card moves!</strong></div>
      </div>
    </div>

  </div>
</div>
