<div *ngIf="card" class="card" xmlns="http://www.w3.org/1999/html">
  <div class="card-header" [style.background]="card.color">
    <div class="rejected" *ngIf="card.rejected">
      <i class="fa fa-times-circle"></i>
      Rejected
    </div>
  </div>

  <div class="card-body">

    <div class="row">
      <div class="col-6">
        <h4 class="card-title">Card details</h4>
      </div>

      <div class="col-6">
        <button *ngIf="deleteEnabled" type="button" class="btn btn-danger  pull-right mr-1" (click)="openDeleteConfirmationModal()">Delete
          <a placement="right" ngbPopover="Clicking Delete button will delete the Card" triggers="mouseenter:mouseleave"
             (click)="$event.stopPropagation()">
            <i class="fa fa-question-circle"></i>
          </a>

        </button>

        <button *ngIf="editEnabled" type="button" class="btn btn-primary pull-right mr-1" (click)="openCardEditModal()">Edit
          <a target="_blank" href="https://jgasp.github.io/slate/#posodabljanje-vsebine-kartice"
             placement="right" ngbPopover="Click for help" triggers="mouseenter:mouseleave"
             (click)="$event.stopPropagation()">
            <i class="fa fa-question-circle"></i>
          </a>
        </button>

        <button *ngIf="card.boardPart.board" type="button" class="btn btn-primary pull-right mr-1" routerLink="/board/{{card.boardPart.board.id}}">Go to board
          <a placement="right" ngbPopover="Clicking this button will redirect you to card's board" triggers="mouseenter:mouseleave"
             (click)="$event.stopPropagation()">
            <i class="fa fa-question-circle"></i>
          </a>
        </button>

        <button *ngIf="card.project.id" type="button" class="btn btn-primary pull-right mr-1" routerLink="/project/{{card.project.id}}">Go to project
          <a placement="right" ngbPopover="Clicking this button will redirect you to card's project" triggers="mouseenter:mouseleave"
             (click)="$event.stopPropagation()">
            <i class="fa fa-question-circle"></i>
          </a>
        </button>

        <button type="button" class="btn btn-primary pull-right mr-1" (click)="openCreateSubtaskModal()">Create sub-task
          <a target="_blank" href="https://jgasp.github.io/slate/#kreiranje-nalog"
             placement="right" ngbPopover="Click for help" triggers="mouseenter:mouseleave"
             (click)="$event.stopPropagation()">
            <i class="fa fa-question-circle"></i>
          </a>
        </button>

      </div>

    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Code</p>
      <p class="col-sm-10 col-label"><strong>{{card.code}}</strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Name</p>
      <p class="col-sm-10 col-label"><strong>{{card.name}}</strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Type</p>
      <p class="col-sm-10 col-label"><strong>{{card.cardType.toString().replace("_", " ")}}</strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Due Date</p>
      <p class="col-sm-2 col-label"><strong><span *ngIf="card.dueDate">{{ card.dueDate | date:'dd-MM-yyyy' }}</span><span *ngIf="!card.dueDate">unspecified</span></strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Workload</p>
      <p class="col-sm-10 col-label"><strong>{{ card.workload }}</strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Due date</p>
      <p class="col-sm-10 col-label">
        <span *ngIf="card.dueDate"><strong>{{card.dueDate | date:'dd.MM.yyyy' }}</strong></span>
        <span *ngIf="!card.dueDate"><strong>-</strong></span>
      </p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Description</p>
      <p class="col-sm-10 col-label"><strong>{{ card.description }}</strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Assigned to</p>
      <p class="col-sm-10 col-label"><strong>{{card.assignedTo == null ? '-' : card.assignedTo.email}}</strong></p>
    </div>

    <div class="row">
      <p class="col-sm-2 col-label">Subtasks</p>
      <div class="col-sm-10 col-label">
        <div class="list-group" *ngIf="card.subTasks">
          <div *ngFor="let t of card.subTasks" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><strong>{{t.name}}</strong></h5>
              <small>{{t.workingHours}} working hours</small>
            </div>
            <p class="mb-1">{{t.description}}</p>
          </div>
        </div>
        <div *ngIf="!card.subTasks"><strong>No subtasks!</strong></div>
      </div>
    </div>

    <div class="mt-3">
      <app-card-moves-paging [moves]="moves"></app-card-moves-paging>
    </div>

  </div>
</div>
