<div class="container">

  <div class="row">

    <div class="col-sm-12">

      <app-board-paging (onSelect)="goToBoard($event)"></app-board-paging>

    </div>

    <div *ngIf="isKanbanMaster" class="col-sm-4">
      <button class="btn btn-primary" routerLink="/board/edit">Create
        <a target="_blank" href="https://jgasp.github.io/slate/#urejanje-table"
           placement="right" ngbPopover="Click for help" triggers="mouseenter:mouseleave"
           (click)="$event.stopPropagation()">
          <i class="fa fa-question-circle"></i>
        </a>
      </button>
    </div>
  </div>
</div>
