<div *ngIf="project" class="card">
<div class="card-body">
  <h4 class="card-title">Project details</h4>
  <div class="row">
    <p class="col-sm-2 col-label">Name</p>
    <p class="col-sm-2 col-label"><strong>{{ project.name }}</strong></p>
  </div>

  <div class="row">
    <p class="col-sm-2 col-label">Code</p>
    <p class="col-sm-2 col-label"><strong>{{ project.code }}</strong></p>
  </div>

  <div class="row">
    <p class="col-sm-2 col-label">Buyer</p>
    <p class="col-sm-2 col-label"><strong>{{ project.productBuyer }}</strong></p>
  </div>

  <div class="row">
    <p class="col-sm-2 col-label">Start date</p>
    <p class="col-sm-2 col-label"><strong>{{ project.startDate | date:'dd-MM-yyyy' }} </strong></p>
  </div>

  <div class="row">
    <p class="col-sm-2 col-label">End date</p>
    <p class="col-sm-2 col-label"><strong>{{ project.endDate | date:'dd-MM-yyyy' }} </strong></p>
  </div>

  <div class="row">
    <p class="col-sm-2 col-label">Dev team</p>
    <p class="col-sm-2 col-label"><strong>{{ project.devTeam.name }}</strong></p>
  </div>

  <button *ngIf="project.board" type="button" class="btn btn-primary" routerLink="/board/{{project.board.id}}">Go to board</button>
  <button *ngIf="project.board && isAuthUserProductOwner" type="button" class="btn btn-primary" (click)="openCardCreateModal()">Create card</button>
  <button *ngIf="isAuthUserKanbanMaster" type="button" class="btn btn-primary" (click)="openProjectCreateModal()">Edit</button>
  <button *ngIf="isAuthUserKanbanMaster" type="button" class="btn btn-danger" (click)="openDeleteConfirmationModal()">Delete</button>

  <div class="border mt-3" *ngIf="project.cards">
    <div class="list-group">
      <div class="list-group-item list-group-item-primary">Cards</div>
      <div class="list-group-item list-group-item-action hover-pointer" *ngFor="let c of project.cards" routerLink="/card/{{c.id}}">
        {{c.name}}
      </div>
    </div>
  </div>

</div>
</div>
