<div class="row">

  <div class="col-12" *ngIf="!sharedContext.project">
    <h5 class="col-12 text-center mt-5">
      No project selected
    </h5>
  </div>

  <div class="col-12" *ngIf="sharedContext.project && !sharedContext.project.board">
    <h5 class="col-12 text-center mt-5">
      Project has no board
    </h5>
  </div>

  <div class="col-12 m-3 border" *ngIf="sharedContext.project && leafBoardPartsSelection">

    <div class="col-12">

      <form [formGroup]="formTime">

        <div class="form-group row m-2">
          <label for="time-to" class="col-2 col-form-label">From</label>
          <div class="col-4">
            <select name="time-to" class="form-control" id="time-from"
                    formControlName="from">
              <option [ngValue]="null">Select column</option>
              <option *ngFor="let b of leafBpFromSelection" [ngValue]="b">{{b.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row m-2">
          <label for="time-to" class="col-2 col-form-label">To</label>
          <div class="col-4">
            <select name="time-to" class="form-control" id="time-to"
                    formControlName="to">
              <option [ngValue]="null">Select column</option>
              <option *ngFor="let b of leafBpToSelection" [ngValue]="b">{{b.name}}</option>
            </select>
          </div>
        </div>

      </form>

    </div>

    <div class="col-12">
      <button class="btn btn-primary mb-2 pull-right" (click)="submitTime()">Submit</button>
    </div>

  </div>

</div>

<div class="row border" *ngIf="ngxDataSet">

  <div class="col-12">

    <div class="row">

      <div class="col-12 mt-3">

        <div class="d-flex justify-content-between">
          <h3>Statistics:</h3>
          <div class="mr-2">
            <form [formGroup]="formFormat" class="border">
              <select name="time-format" class="form-control" id="time-format" formControlName="format">
                <option value="s">Seconds</option>
                <option value="min">Minutes</option>
                <option value="h">Hours</option>
                <option value="d">Days</option>
              </select>
            </form>
          </div>
        </div>

        <div>
          <p>
            <strong>Number of Cards</strong>: {{ngxDataSet.length}}
          </p>
          <p>
            <strong>Average Lead Time</strong>: {{averageTime}} {{timeUnit}}
          </p>
        </div>

      </div>

    </div>

    <div class="col-12 mt-5 mb-5">

      <div class="graph">
        <ngx-charts-bar-horizontal
          [legend]="true"
          [xAxisLabel]="'Time'"
          [showXAxisLabel]="true"
          [xAxis]="true"
          [yAxisLabel]="'Card'"
          [showYAxisLabel]="true"
          [yAxis]="true"
          [results]="ngxDataSet"
        ></ngx-charts-bar-horizontal>
      </div>

      <div class="mt-5">
      </div>

    </div>

  </div>

</div>
