<div *ngIf="devTeam">
  <div class="list-group">
    <div class="list-group-item list-group-item-primary"><strong>Team name:</strong>
      <button *ngIf="isAuthUserKanbanMaster" type="button" (click)="openDevTeamEditModal()" class="btn btn-primary" style="float: right">
        Edit development team</button>
    </div>

    <a class="list-group-item list-group-item-action">{{devTeam.name}}</a>
  </div>
  <br>
  <div *ngIf="kanbanMaster">
    <a class="list-group">
      <div class="list-group-item list-group-item-primary"><strong>Kanban Master:</strong>
        <button *ngIf="isAuthUserKanbanMaster" type="button" (click)="sendKMInvite()" class="btn btn-primary" style="float: right">
          Invite new Kanban Master</button></div>
      <a class="list-group-item list-group-item-action">
        {{ kanbanMaster.email }}
      </a>
    </a>
  </div>
  <br>

  <div *ngIf="productOwner">
    <div class="list-group">
      <div class="list-group-item list-group-item-primary"><strong>Product owner:</strong></div>
      <a class="list-group-item list-group-item-action">{{productOwner.email}}</a>
    </div>
  </div>
  <br>

  <ngb-tabset>
    <div *ngIf="developers">
      <ngb-tab title="Developers">
        <ng-template ngbTabContent>
          <div class="list-group">
            <a *ngFor="let developer of developers" class="list-group-item list-group-item-action d-flex" >
              {{ developer.email }}
            </a>
          </div>
        </ng-template>
      </ngb-tab>
    </div>
    <br>

    <div *ngIf="events">
      <ngb-tab title="Membership History">
        <ng-template ngbTabContent>
          <div class="list-group">
            <a *ngFor="let event of events" class="list-group-item list-group-item-action d-flex" >
              {{ getEventDate(event) | date: "d. M. yyyy H:mm" }} - {{ event.event }}
            </a>
          </div>
        </ng-template>
      </ngb-tab>
    </div>
  </ngb-tabset>
</div>
