<div *ngIf="devTeam">
  <div class="list-group">
    <div class="list-group-item list-group-item-primary">Team name:
      <button *ngIf="isUserKanbanMaster" type="button" (click)="openDevTeamEditModal()" class="btn btn-primary" style="float: right">
        Edit development team</button>
    </div>

    <a class="list-group-item list-group-item-action">{{devTeam.name}}</a>
  </div>
  <br>

  <div *ngIf="kanbanMaster">
    <a class="list-group">
      <div class="list-group-item list-group-item-primary">Kanban Master:
        <button *ngIf="isUserKanbanMaster" type="button" (click)="sendKMInvite()" class="btn btn-primary" style="float: right">
          Invite new Kanban Master</button></div>
      <a class="list-group-item list-group-item-action">
        {{ kanbanMaster.email }}
      </a>
    </a>
  </div>
  <br>

  <div *ngIf="productOwner">
    <div class="list-group">
      <div class="list-group-item list-group-item-primary">Product owner</div>
      <a class="list-group-item list-group-item-action">{{productOwner.email}}</a>
    </div>
  </div>
  <br>
  <div *ngIf="developers">
    <div class="list-group">
      <div class="list-group-item list-group-item-primary">Developers:

      </div>
      <a *ngFor="let developer of developers" class="list-group-item list-group-item-action d-flex" >
        {{ developer.email }}
      </a>
    </div>
  </div>
</div>
