<div class="container">

  <div class="row">

    <div class="col-12" *ngIf="sharedContext.collapsed">
      <button class="btn btn-primary pull-right mt-2" (click)="openQuery()">Search</button>
    </div>

    <div class="col-12" *ngIf="!sharedContext.collapsed">
      <button class="btn btn-primary pull-right mt-2" (click)="closeQuery()">Hide</button>
    </div>

    <div class="col-12" *ngIf="!sharedContext.collapsed">
      <app-analysis-query [sharedContext]="sharedContext" (onProjectSelected)="handleOnProjectSelect($event)"></app-analysis-query>
    </div>


    <div class="col-12 mt-2">

      <ngb-tabset>

        <ngb-tab title="Card workflow diagram">
          <ng-template ngbTabContent>
            <app-analysis-workflow [sharedContext]="sharedContext"></app-analysis-workflow>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Card WIP exceeded">
          <ng-template ngbTabContent>
            <app-analysis-wip [sharedContext]="sharedContext"></app-analysis-wip>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Card time diagram">
          <ng-template ngbTabContent>
            <app-analysis-time [sharedContext]="sharedContext"></app-analysis-time>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>

  </div>

</div>
