<div class="container">

  <div class="row">

    <div class="col-12 border">

      <form class="mt-3" [formGroup]="formQuery">

        <div class="col-12">

          <div class="col-6">
            <div class="form-group row">
              <label for="query-project" class="col-4 col-form-label">Project</label>
              <div class="col-8">
                <select name="query-project" class="form-control" id="query-project"
                        formControlName="project"
                        [ngClass]="{ 'is-invalid': fcProject.touched && fcProject.invalid }">
                  <option [ngValue]="null">Select project</option>
                  <option *ngFor="let p of projectSelection" [ngValue]="p">{{p.name}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="fcProject.hasError('required')">
                  Project is required
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-12">

          <div class="row">

            <div class="col-3 border">
              <p> Show </p>

              <div class="form-group row">
                <label for="query-show-from" class="col-sm-2 col-form-label">From</label>
                <div class="col" id="query-show-from">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" #sf="ngbDatepicker" name="query-show-from"
                           formControlName="showFrom" ngbDatepicker>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="sf.toggle()" type="button">
                        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="query-show-from" class="col-sm-2 col-form-label">To</label>
                <div class="col" id="query-show-to">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" #st="ngbDatepicker" name="query-show-to"
                           formControlName="showTo" ngbDatepicker>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="st.toggle()" type="button">
                        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-3 border">
            <p> Created </p>

            <div class="form-group row">
              <label for="query-created-from" class="col-sm-2 col-form-label">From</label>
              <div class="col" id="query-created-from">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" #cf="ngbDatepicker" name="query-created-from"
                         formControlName="createdFrom" ngbDatepicker>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="cf.toggle()" type="button">
                      <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="query-created-from" class="col-sm-2 col-form-label">To</label>
              <div class="col" id="query-created-to">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" #ct="ngbDatepicker" name="query-created-to"
                         formControlName="createdTo" ngbDatepicker>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="ct.toggle()" type="button">
                      <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>

            <div class="col-3 border">
              <p> Development start </p>

              <div class="form-group row">
                <label for="query-dev-start-from" class="col-sm-2 col-form-label">From</label>
                <div class="col" id="query-dev-start-from">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" #dsf="ngbDatepicker" name="query-dev-start-from"
                           formControlName="devStartFrom" ngbDatepicker>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="dsf.toggle()" type="button">
                        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="query-dev-start-to" class="col-sm-2 col-form-label">To</label>
                <div class="col" id="query-dev-start-to">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" #dst="ngbDatepicker" name="query-dev-start-to"
                           formControlName="devStartTo" ngbDatepicker>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="dst.toggle()" type="button">
                        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-3 border">
              <p> Finished </p>

              <div class="form-group row">
                <label for="query-created-from" class="col-sm-2 col-form-label">From</label>
                <div class="col" id="query-finished-from">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" #ff="ngbDatepicker" name="query-finished-from"
                           formControlName="finishedFrom" ngbDatepicker>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="ff.toggle()" type="button">
                        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="query-created-from" class="col-sm-2 col-form-label">To</label>
                <div class="col" id="query-finished-to">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" #ft="ngbDatepicker" name="query-finished-to"
                           formControlName="finishedTo" ngbDatepicker>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="ft.toggle()" type="button">
                        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-3 border">
              <p> Workload </p>

              <div class="form-group row">
                <label for="query-created-from" class="col-sm-2 col-form-label">From</label>
                <div class="col" id="query-workload-from">
                  <div class="input-group">
                    <input class="form-control" name="query-workload-from" formControlName="workloadFrom" type="number">
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="query-created-from" class="col-sm-2 col-form-label">To</label>
                <div class="col" id="query-workload-to">
                  <div class="input-group">
                    <input class="form-control" name="query-workload-to" formControlName="workloadTo" type="number">
                  </div>
                </div>
              </div>

            </div>

            <div class="col-6 border">

              <div class="row mt-2 mb-2">
                <div class="col-4">
                 New functionality
                </div>
                <div class="col-8">
                  <div class="material-switch">
                    <input class="form-control" id="query-new-functionality" name="query-new-functionality" formControlName="newFunctionality" type="checkbox">
                    <label for="query-new-functionality" class="bg-primary"></label>
                  </div>
                </div>
              </div>

              <div class="row mt-2 mb-2">
                <div class="col-4">
                  Silver bullet
                </div>
                <div class="col-8">
                  <div class="material-switch">
                      <input id="query-is-silver-bullet" name="query-is-silver-bullet" type="checkbox" formControlName="isSilverBullet"/>
                      <label for="query-is-silver-bullet" class="bg-primary"></label>
                  </div>
                </div>
              </div>

              <div class="row mt-2 mb-2">
                <div class="col-4">
                 Rejected
                </div>
                <div class="col-8">
                  <div class="material-switch">
                    <input class="form-control" id="query-is-rejected" name="query-is-rejected" formControlName="isRejected" type="checkbox">
                    <label for="query-is-rejected" class="bg-primary"></label>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </form>

    </div>

    <div class="col-12 mt-5">

      <ngb-tabset>
        <ngb-tab title="Card workflow diagram">
          <ng-template ngbTabContent>

            <div class="row">

              <div class="col-12" *ngIf="leafBoardPartsSelection">

                <div class="col-12 mt-3 mb-3">
                  Select columns
                </div>

                <div class="col-12">

                  <div class="list-inline">
                    <div class="list-inline-item border p-2 m-1 hover-pointer" *ngFor="let bp of leafBoardPartsSelection"
                         (click)="bp.isActive = ! bp.isActive">
                      <div class="col-12">
                      {{bp.boardPart.name}} [{{bp.boardPart.leafNumber}}]
                      </div>
                      <div class="col-12 col-centered">
                        <i class="fa fa-check fa-2x" style="color: green" *ngIf="bp.isActive"></i>
                        <i class="fa fa-times fa-2x" style="color: red" *ngIf="!bp.isActive"></i>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-12">
                  <button class="btn btn-primary mt-5 pull-right" (click)="submitWorkFlow()">Submit</button>
                </div>

              </div>

              <div class="col-12" *ngIf="!leafBoardPartsSelection">
                <h5 class="col-12 text-center mt-5">
                  No project selected
                </h5>
              </div>

            </div>

            <div class="row" *ngIf="workflowNgxDataSetDisplay">

              <div class="col-12 mt-5 mb-5" style="height: 600px;">

                <div class="col-2">
                  <label>
                    Columns displayed
                  </label>
                  <div class="form-group">
                    <input class="form-control" type="number" #maxWf
                           value="{{wfMaxDisplay}}"
                           (change)="updateDisplay(0, maxWf.value)"/>
                  </div>
                </div>

                <div *ngIf="showWfGraph">

                  <div class="slidecontainer">
                    <input class="slider" id="myRange" #wfs
                           type="range"
                           min="0"
                           max="{{getWorkflowMaxValue()}}"
                           value="{{wfScrollValue}}"
                           (change)="workflowScrollChanged(wfs.value)">
                  </div>

                  <div class="graph">
                    <ngx-charts-bar-vertical-2d
                      [legend]="true"
                      [xAxisLabel]="'Date'"
                      [showXAxisLabel]="true"
                      [xAxis]="true"
                      [yAxisLabel]="'Number of cards'"
                      [showYAxisLabel]="true"
                      [yAxis]="true"
                      [results]="workflowNgxDataSetDisplay"
                    ></ngx-charts-bar-vertical-2d>
                  </div>

                </div>

                <div class="mt-5">
                </div>

              </div>

            </div>

          </ng-template>
        </ngb-tab>


      </ngb-tabset>


    </div>

  </div>

</div>
