<div class="modal-header">
  <h4 class="modal-title">Create project</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form [formGroup]="formProject" (ngSubmit)="onSubmit()">

    <div class="form-group row">
     <label for="in-name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" name="project-name" class="form-control" id="in-name"  placeholder="Name"
                formControlName="name"
               [ngClass]="{ 'is-invalid': fcName.touched && fcName.invalid }">
        <div class="invalid-feedback" *ngIf="fcName.hasError('required')">
          Name is required.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="in-code" class="col-sm-2 col-form-label">Code</label>
      <div class="col-sm-10">
        <input type="text" name="project-code" class="form-control" id="in-code"  placeholder="Code"
               formControlName="code"
               [ngClass]="{ 'is-invalid': fcCode.touched && fcCode.invalid }">
        <div class="invalid-feedback" *ngIf="fcCode.hasError('required')">
          Code is required.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="in-buyer" class="col-sm-2 col-form-label">Buyer</label>
      <div class="col-sm-10">
        <input type="text" name="project-buyer" class="form-control" id="in-buyer" placeholder="Buyer"
               formControlName="productBuyer"
               [ngClass]="{ 'is-invalid': fcProductBuyer.touched && fcProductBuyer.invalid }">
        <div class="invalid-feedback" *ngIf="fcProductBuyer.hasError('required')">
          Product buyer is required.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="in-start-date" class="col-sm-2 col-form-label">Start date</label>
      <div class="col" id="in-start-date">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" #d="ngbDatepicker" name="dp1"
                 formControlName="startDate" ngbDatepicker>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
        <div *ngIf="fcStartDate.touched && fcStartDate.invalid">
          <div class="date-invalid-feedback" *ngIf="fcEndDate.hasError('required')">
            Start date is required
          </div>
          <div class="date-invalid-feedback" *ngIf="fcStartDate.hasError('startDateAfterNowDate')">
            Start date must not be greater then today date.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="in-end-date" class="col-sm-2 col-form-label">End date</label>
      <div class="col" id="in-end-date">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" ngbDatepicker #d2="ngbDatepicker"
                 formControlName="endDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
              <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
        <div *ngIf="fcEndDate.touched && fcEndDate.invalid">
          <div class="date-invalid-feedback" *ngIf="fcEndDate.hasError('required')">
            End date is required
          </div>
          <div class="date-invalid-feedback" *ngIf="fcEndDate.hasError('endDateBeforeNowDate')">
            End date must be greater than today date.
          </div>
          <div class="date-invalid-feedback" *ngIf="fcEndDate.hasError('endDateBeforeStartDate')">
            End date must be greater than start date.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="in-devteam" class="col-sm-2 col-form-label">Dev team</label>
      <div class="col-sm-10">
        <select name="project-devteam" class="form-control" id="in-devteam"
                formControlName="devTeam"
                [ngClass]="{ 'is-invalid': fcDevTeam.touched && fcDevTeam.invalid }">
          <option [ngValue]="null">Select team</option>
          <option *ngFor="let devTeam of devTeams" [ngValue]="devTeam.id">{{devTeam.name}}</option>z
        </select>
        <div class="invalid-feedback" *ngIf="fcDevTeam.hasError('required')">
          Dev team is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="container">
        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </div>
    </div>

  </form>

</div>
