<div class="row">

  <div class="col-md-12">
    <div *ngIf="paging && paging.count > 0" class="list-group">
      <div>
        <div class="list-group-item list-group-item-primary">Development teams</div>
        <a (click)="itemSelected(item)" *ngFor="let item of paging.items" class="list-group-item list-group-item-action">
          {{item.name}}
        </a>
      </div>

      <ngb-pagination (pageChange)="refresh()"
                      [collectionSize]="collectionSize"
                      [pageSize]="pageSize"
                      [(page)]="page"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="false"
                      [boundaryLinks]="true">
      </ngb-pagination>
    </div>

    <div *ngIf="paging == null || paging.count == 0" class="list-group">
      No development teams.
    </div>

  </div>

</div>
