
<div class="row">

  <div class="col-md-6">
    <div *ngIf="selectedUser">
      <app-user-details [user]="selectedUser" ></app-user-details>

      <button class="btn waves-light" (click)="toggleDeleted()" [ngClass]="{'btn-danger': !selectedUser.isDeleted, 'btn-success': selectedUser.isDeleted}">
        {{!selectedUser.isDeleted ? "Deactivate" : "Activate"}}
      </button>

      <button class="btn btn-primary" (click)="openUserEditModal(selectedUser)">
        Edit
      </button>

    </div>
  </div>

  <div class="col-md-6">
    <app-user-paging [enableSearch]="true" (onSelect)="selectedUserCallback($event)"> </app-user-paging>
  </div>

  <div class="col-md-12">
    <div class="pull-right">

      <button class="btn btn-primary" (click)="openUserCreateModal()">
        Create
      </button>

    </div>
  </div>

</div>

