<div class="row">

  <div class="col-md-5">
    <div class="border rounded">

      <div class="list-group" *ngIf="selectedUser">
        <div id="userDetails">
          <div class="list-group-item list-group-item-primary">User details:</div>

          <app-user-details [user]="selectedUser" ></app-user-details>
          <br>
          <button class="btn btn-primary" (click)="openUserEditModal()">
            Edit
          </button>

          <button class="btn btn-primary" (click)="openUserPasswordModal()">
            Set password
          </button>

          <button class="btn waves-light" (click)="toggleDeleted()" [ngClass]="{'btn-danger': !selectedUser.isDeleted, 'btn-success': selectedUser.isDeleted}">
            {{!selectedUser.isDeleted ? "Deactivate" : "Activate"}}
          </button>


        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <app-user-paging [enableSearch]="true" (onSelect)="selectedUserCallback($event)"> </app-user-paging>

    <div class="col-md-12">
      <div class="pull-right">

        <button class="btn btn-primary" (click)="openUserCreateModal()">
          Create
        </button>
        <a href="https://jgasp.github.io/slate/#vzdrzevanje-in-ustvarjanje-novih-razvojnih-skupin"><button type="button" class="btn btn-outline-secondary" placement="left" ngbPopover="Click for help" triggers="mouseenter:mouseleave" style="border-radius: 50%">
          ?
        </button></a>
      </div>
    </div>

  </div>

</div>
