<div class="row">

  <div class="col-md-12">

    <div class="list-group-item list-group-item-primary">
      <div class="row">

        <div class="col-2">
          Users
        </div>

        <div class="col-10" *ngIf="enableSearch">
          <div class="row">

            <div class="col-6">
              <div class="form-group">
                <input #searchIn type="text" class="form-control" placeholder="search"
                       (keyup)="search(searchIn.value, isDeleted.checked)">
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-6">Deleted</div>
                  <div class="col-6">
                    <div class="material-switch">
                      <input #isDeleted class="form-control" id="is-deleted" name="is-deleted" type="checkbox"
                             (click)="search(searchIn.value, isDeleted.checked)">
                      <label for="is-deleted" class="bg-primary"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>

    <div *ngIf="paging && paging.count > 0" class="list-group">
      <div>
        <a (click)="itemSelected(item)" *ngFor="let item of paging.items" class="list-group-item list-group-item-action">
          {{item.email}} - {{item.firstName}} {{item.lastName}}
        </a>
      </div>

      <ngb-pagination (pageChange)="refresh()"
                      [collectionSize]="collectionSize"
                      [pageSize]="pageSize"
                      [(page)]="page"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="false"
                      [boundaryLinks]="true">
      </ngb-pagination>

    </div>

  </div>

</div>





