<header>
  <nav class="navbar navbar-light bg-light navbar-fixed-top navbar-expand-lg">
    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">
      <h2>Kanban</h2>
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">

      <ul class="navbar-nav ml-auto">

        <div *ngIf="!user">
          <li class="nav-item">
            <button class="btn btn-outline-primary ho-pointer" role="button" (click)="navbarCollapsed = true; login()">
              Log in
            </button>
          </li>
        </div>

        <div *ngIf="user">
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary ho-pointer" ngbDropdownToggle>{{user.email}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="btn btn-info dropdown-item" role="button" routerLink="/admin" *ngIf="user.inRoleAdministrator">Admin</a>
                <a class="btn btn-info dropdown-item" role="button" routerLink="/profile">Profile</a>
                <a class="btn btn-info dropdown-item" role="button" (click)="logout()">Log out</a>
              </div>
            </div>
          </li>
        </div>

      </ul>

    </div>
  </nav>
</header>

