<div class="row">

  <div class="col-md-12">

    <h4>Project list</h4>

    <div *ngIf="paging" class="list-group">
      <div>
        <a (click)="itemSelected(item)" *ngFor="let item of paging.items" class="list-group-item list-group-item-action">
          <p>{{item.name}} - {{item.productBuyer}}</p>
          <p>Start: {{item.startDate | date:'dd-MM-yyyy'}}  End: {{item.endDate | date:'dd-MM-yyyy'}}</p>
        </a>
      </div>

      <ngb-pagination (pageChange)="refresh()"
                      [collectionSize]="collectionSize"
                      [pageSize]="pageSize"
                      [(page)]="page"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="false"
                      [boundaryLinks]="true">
      </ngb-pagination>
    </div>

  </div>

</div>





