<div *ngIf="boardPart.board != null">
  <div class="border rounded"
       [ngClass]="{
       'highest-priority': isHighestPriority,
       'dev-start': isStartDev,
       'dev-end': isEndDev,
       'acceptance-ready': isAcceptanceTesting
       }"
  >

    <div class="item">

      <div class="row">
        <div class="col">
          <form [formGroup]="formBoardPart">

            <div class="form-group row">
              <label for="in-name" class="col-sm-4 col-form-label">Name</label>
              <div class="col-sm-8">
                <input type="text" name="project-name" class="form-control" id="in-name"  placeholder="Name"
                       formControlName="name"
                       [ngClass]="{ 'is-invalid': fcName.touched && fcName.invalid }">
                <div class="invalid-feedback" *ngIf="fcName.hasError('required')">
                  Name is required
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="in-wip" class="col-sm-4 col-form-label">WIP</label>
              <div class="col-sm-8">
                <input type="text" name="board-part-wip" class="form-control" id="in-wip" placeholder="WIP"
                       formControlName="maxWip"
                       [ngClass]="{ 'is-invalid': fcMaxWip.touched && fcMaxWip.invalid }">
                <div class="invalid-feedback" *ngIf="fcMaxWip.hasError('required')">
                  WIP is required
                </div>
                <div class="invalid-feedback" *ngIf="fcMaxWip.hasError('greaterThanParent')">
                  WIP is too big
                </div>
                <div class="invalid-feedback" *ngIf="fcMaxWip.hasError('pattern')">
                  WIP must be positive number
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-2" *ngIf="boardPart.currentWip != null">
          Current WIP: {{boardPart.currentWip}}
        </div>

        <div class="col-12">
          <div class="pull-left">
            {{getName()}}
          </div>

          <div class="pull-right">
            <button class="btn btn-primary" (click)="emitOnAddLeft()">
              <i class="fa fa-caret-left"></i>
            </button>

            <span #pDown="ngbPopover" ngbPopover="Board part contains cards" popoverTitle="Contains cards" triggers="manual"
                  (mouseenter)="!hasChildren && hasCards && pDown.open()" (mouseleave)="pDown.close()">
              <button class="btn btn-primary" (click)="addDown()" [disabled]="hasCards || hasChildren">
                <i class="fa fa-caret-down"></i>
              </button>
            </span>

            <button class="btn btn-primary" (click)="emitOnAddRight()">
              <i class="fa fa-caret-right"></i>
            </button>

            <span #pDel="ngbPopover" ngbPopover="Board part contains cards" popoverTitle="Contains cards" triggers="manual"
                  (mouseenter)="hasCards && pDel.open()" (mouseleave)="pDel.close()" placement="left">
              <button class="btn btn-danger" (click)="emitOnDelete()" [disabled]="hasCards">
                <i class="fa fa-times-circle"></i>
              </button>
            </span>

          </div>

        </div>
      </div>

      <div class="sub-group-padding">
        <div class="sub-group" *ngIf="boardPart.children && boardPart.children.length > 0">
          <div class="row">

            <div class="sub-item align-top" *ngFor="let bp of boardPart.children">
              <app-board-part-form
                (onEvent)="handleEvent($event)"
                [boardPart]="bp">
              </app-board-part-form>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
