.item {
  margin: 10px;
}

.sub-group > .row {
  overflow-x: scroll;
  white-space: nowrap;
  display: block;
  flex-wrap: nowrap;
}

.sub-group-padding {
  padding-right: 10px;
  padding-left: 10px;
}

.sub-item {
  margin: 10px;
  display: inline-block;
  float: none;
}
