<div *ngIf="loginService.user">
  <h2>{{ loginService.user.email }}</h2>

  <h3>User Info:</h3>
  <ul class="list-group">
    <li class="list-group-item">First Name: {{ loginService.user.firstName }}</li>
    <li class="list-group-item">Last Name: {{ loginService.user.lastName }}</li>
  </ul>
</div>

<div *ngIf="receivedRequests">
  <h3>Received Requests:</h3>
  <ul class="list-group">
    <li *ngFor="let request of receivedRequests" class="list-group-item d-flex justify-content-between align-items-center">
      {{ request.sender.email }}:
      {{ request.context }}
      <div>
        <div *ngIf="request.requestStatus.toString() == requestStatus.PENDING">
          <button (click)="acceptRequest(request)" type="button" class="btn btn-success">Accept</button>
          <button (click)="declineRequest(request)" type="button" class="btn btn-danger">Decline</button>
        </div>
        <span *ngIf="request.requestStatus.toString() != requestStatus.PENDING" class="badge badge-primary badge-pill">{{ request.requestStatus }}</span>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="sentRequests">
  <h3>Sent Requests:</h3>
  <ul class="list-group">
    <li *ngFor="let request of sentRequests" class="list-group-item d-flex justify-content-between align-items-center">
      {{ request.receiver.email }}:
      {{ request.context }}
      <div>
        <div *ngIf="request.requestStatus.toString() == requestStatus.PENDING">
          <button (click)="cancelRequest(request)" type="button" class="btn btn-danger">Cancel</button>
        </div>
        <span *ngIf="request.requestStatus.toString() != requestStatus.PENDING" class="badge badge-primary badge-pill">{{ request.requestStatus }}</span>
      </div>
    </li>
  </ul>
</div>

