<h1>Ustvari projekt</h1><br>
<form>
  <div class="form-group row">
    <label for="inputSifra" class="col-sm-2 col-form-label">Sifra</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSifra" placeholder="Sifra">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNaziv" class="col-sm-2 col-form-label">Naziv</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNaziv" placeholder="Naziv">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNarocnik" class="col-sm-2 col-form-label">Ime naročnika</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNarocnik" placeholder="Ime naročnika">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDevTeam" class="col-sm-2 col-form-label">Ime naročnika</label>
    <div class="col-sm-10">
      <select class="form-control" id="inputDevTeam">
        <option value="" selected disabled>Izberi skupino</option>
        <option *ngFor="let devTeam of devTeams">{{devTeam.name}}</option>
      </select>
    </div>
  </div>

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
  </form>

  <hr/>
  <pre>Model: {{ model | json }}</pre>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Ustvari</button>
    </div>
  </div>

</form>
