<div>
  <div class="board-base">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="formBoard">

          <div class="row">

            <div class="col-sm-4">
              <div class="form-group row">
                <label for="in-name" class="col-sm-5 col-form-label">Name</label>
                <div class="col-sm-5">
                  <input type="text" name="board-part-name" class="form-control" id="in-name"  placeholder="Name"
                         formControlName="name">
                </div>
              </div>
            </div>

            <div class="col-sm-4">

              <div class="form-group row">
                <label for="in-highest-priority" class="col-sm-5 col-form-label">Highest priority</label>
                <div class="col-sm-7">
                  <select name="board-highest-priority" class="form-control highest-priority" id="in-highest-priority"
                          formControlName="highestPriority">
                    <option [ngValue]="null">Select column</option>
                    <option *ngFor="let b of highestPriorityBoardParts" [ngValue]="b.id">{{b.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="in-start-dev" class="col-sm-5 col-form-label">Start dev</label>
                <div class="col-sm-7">
                  <select name="board-start-dev" class="form-control dev-start" id="in-start-dev"
                          formControlName="startDev">
                    <option [ngValue]="null">Select column</option>
                    <option *ngFor="let b of startDevBoardParts" [ngValue]="b.id">{{b.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="in-end-dev" class="col-sm-5 col-form-label">End dev</label>
                <div class="col-sm-7">
                  <select name="board-end-dev" class="form-control dev-end" id="in-end-dev"
                          formControlName="endDev">
                    <option [ngValue]="null">Select column</option>
                    <option *ngFor="let b of endDevBoardParts" [ngValue]="b.id">{{b.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="in-acceptance-testing" class="col-sm-5 col-form-label">Acceptance testing</label>
                <div class="col-sm-7">
                  <select name="board-acceptance-testing" class="form-control acceptance-ready" id="in-acceptance-testing"
                          formControlName="acceptanceTesting">
                    <option [ngValue]="null">Select column</option>
                    <option *ngFor="let b of acceptanceTestingBoardParts" [ngValue]="b.id">{{b.name}}</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="col-sm-4" *ngIf="board.createdOn">

              <div class="col-sm-12">
                <div class="form-group">
                  <div class="col-sm-12">
                    <select name="board-project" class="form-control" id="in-addProject"
                            formControlName="projectSelection">
                      <option [ngValue]="null">Add project</option>
                      <option *ngFor="let p of projects" [ngValue]="p.id">{{p.name}}</option>
                    </select>
                    <div *ngIf="projectAssignedDevTeamIds > 1" class="warning-feedback text-center">
                      <i class="fa fa-exclamation-triangle"></i>
                      There are {{projectAssignedDevTeamIds}} different dev teams assigned
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group col-sm-12">
                  <ul class="list-group" *ngIf="board.projects">
                    <li class="list-group-item" *ngFor="let p of board.projects">
                      {{ p.name }}
                      <button class="btn-sm btn-danger pull-right" type="button" (click)="removeProject(p.id)">
                        <i class="fa fa-times-circle"></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div>
          <button class="btn btn-primary" (click)="addBoardPart()" [disabled]="board.boardParts != null && board.boardParts.length > 0">
            <i class="fa fa-plus-square"></i>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="scroll-group" *ngIf="board.boardParts">

    <div class="row">

      <div class="scroll-item align-top" *ngFor="let bp of board.boardParts">
        <app-board-part-form
          (onDelete)="handleOnDeleteChild($event)"
          (onAddLeft)="handleOnAddLeft($event)"
          (onAddRight)="handleOnAddRight($event)"
          [boardPart]="bp"
          [isDeletable]="true">
        </app-board-part-form>
      </div>

    </div>

  </div>
</div>
