<a class="list-group-item list-group-item-action">
  <button class="btn btn-group-sm" style="padding: 3px 9px" [ngClass]="{'btn-danger': !user.inRoleDeveloper, 'btn-success': user.inRoleDeveloper}">Dev</button>
  <button class="btn btn-group-sm" style="padding: 3px 9px" [ngClass]="{'btn-danger': !user.inRoleAdministrator, 'btn-success': user.inRoleAdministrator}">Admin</button>
  <button class="btn btn-group-sm" style="padding: 3px 9px" [ngClass]="{'btn-danger': !user.inRoleKanbanMaster, 'btn-success': user.inRoleKanbanMaster}">KBmaster</button>
  <button class="btn btn-group-sm" style="padding: 3px 9px" [ngClass]="{'btn-danger': !user.inRoleProductOwner, 'btn-success': user.inRoleProductOwner}">POwner</button>
</a>
<a class="list-group-item list-group-item-action">Username: <strong>{{user.username}}</strong></a>
<a class="list-group-item list-group-item-action">Email: <strong>{{user.email}}</strong></a>
<a class="list-group-item list-group-item-action">First name: <strong>{{user.firstName}}</strong></a>
<a class="list-group-item list-group-item-action">Second name: <strong>{{user.lastName}}</strong></a>
<a class="list-group-item list-group-item-action">Join date: <strong>{{user.createdOn | date:'dd-MM-yyyy'}}</strong></a>
<a class="list-group-item list-group-item-action">Last edited: <strong>{{user.editedOn | date:'dd-MM-yyyy'}}</strong></a>




