<div class="container">

  <div class="row">

    <div class="card text-center mx-auto" *ngIf="!isLoggedIn">

      <div class="card-header text-muted">SMRPO7</div>
      <div class="card-body">
        <h5 class="card-title">Welcome user!</h5>
        <p class="card-text">In order to access your work, you have to Log in.</p>
        <button class="btn btn-outline-primary hover-pointer " role="button" (click)="navbarCollapsed = true; login()">
          Click here to Log in
        </button>
      </div>

      <div class="card-footer text-muted">
        Kanban, a method for managing and creating products, while not overburdening the development team.
      </div>

    </div>
    <div class="card text-center mx-auto" *ngIf="isLoggedIn">

      <div class="card-header text-muted">SMRPO7</div>
      <div class="card-body">
        <h5 class="card-title">Welcome</h5>
      </div>

      <div class="card-footer text-muted">
        Kanban, a method for managing and creating products, while not overburdening the development team.
      </div>

    </div>


  </div>

</div>




