<div class="container">

  <button class="btn btn-primary" (click)="open()">Open form</button>

  <div class="row">

    <div class="col">

      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">

        <ngb-panel id="ngb-panel-0" title="DevTeam">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          </ng-template>
        </ngb-panel>

        <ngb-panel id="ngb-panel-1" title="Projects">
          <ng-template ngbPanelContent>
            <ul class="list-group">
              <li *ngFor="let p of projects" class="list-group-item">
                <p>{{p.name}}</p>
                <p>{{p.description}}</p>
                <p>{{p.startDate | date:'dd-MM-yyyy'}}</p>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>

        <ngb-panel id="ngb-panel-2" title="Boards">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          </ng-template>
        </ngb-panel>

      </ngb-accordion>

    </div>

  </div>

</div>




