<div class="container">

  <div class="row">

    <div class="col-md-12" *ngIf="isLoggedIn">

      <ngb-tabset>

        <ngb-tab title="Dev team">
          <ng-template ngbTabContent>
            <app-dev-team-paging (onSelect)="goToDevTeam($event)"></app-dev-team-paging>
            <button *ngIf="isKanbanMaster" class="btn btn-primary" (click)="openDevTeamCreateModal()">Create development team</button>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Projects">
          <ng-template ngbTabContent>
            <app-project-paging (onSelect)="goToProject($event)" ></app-project-paging>
            <button *ngIf="isKanbanMaster" class="btn btn-primary" (click)="openProjectCreateModal()">Create project</button>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Boards">
          <ng-template ngbTabContent>
            <app-board-paging (onSelect)="goToBoard($event)"></app-board-paging>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>

    <div class="card text-center mx-auto" *ngIf="!isLoggedIn">
      <div class="card-header text-muted">SMRPO7</div>
      <div class="card-body">
        <h5 class="card-title">Welcome user!</h5>
        <p class="card-text">In order to access your work, you have to Log in.</p>
        <button class="btn btn-outline-primary ho-pointer " role="button" (click)="navbarCollapsed = true; login()">
          Click here to Log in
        </button>
      </div>
      <div class="card-footer text-muted">
        Kanban, a method for managing and creating products, while not overburdening the development team.
      </div>
    </div>
  </div>

</div>




